<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main section -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="images/404.jpg" alt="prakhar" class="img-fluid" title="PrakTech">
                </figure>
                <p>Welcome to PrakTech</p>
                <h3>{{errormsg}}</h3>
                <h4>
                    <a href="/" ><button>Lets Head Back</button></a>
                </h4>
              </div>
              
            </div>
          </div>
      </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>
</html>