<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main section -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- right side -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/th.jpg" alt="prakhar" class="img-fluid" title="PrakTech">
                </figure>
              </div>
              <!-- left side -->
              <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather App</p>
                <h3>I am an <span class="text_clr">Upcoming</span> Software Developer</h3>
                <h4>
                    <a href="https://myportfolio-web-app.herokuapp.com/" target="_blank"><button>About Me</button></a>
                    <a href="https://www.linkedin.com/in/prakhar-agarwal-267634151/" target="_blank"><button>Contact Me</button></a>
                </h4>
              </div>
              
            </div>
          </div>
      </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>
</html>