<footer>
      <p>Copyright @ <script>document.write(new Date().getFullYear())</script> By <strong>Prakhar</strong> | All rights reserved</p>
    </footer>

{{!-- <script src="js/footer.js"></script> --}}